/*PARAMETROS GENERALES*/

body
{
	font-family: 'Vollkorn', serif;
	margin: 0;

}

h1
{
	font-size: 35px;
}

.pbackground
{
	background-image: url('../img/header.jpg');
	background-size: cover;
	margin: auto;
	height: 650px;

}

.menu 
{
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu a
{
	color: black;
	text-decoration: none;
}

.menu li
{
	display: inline-block;
	list-style: none;
	margin: 0 12px;
}

.fraseprincipal
{
	padding-top: 200px;
	padding-left: 750px;
	padding-bottom: 100px;
	padding-right: 50px;
	font-size: 17px;
	
}

/*QUIEN SOY*/

.whoiam
{
	padding: 50px 100px 20px 100px;
}

.button {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  background: #fd324e;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

/*HABILIDADES*/

.abilitiesbox, .worksbox
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

.abilitieitem
{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.abilitietittle
{
	margin-top: 3px;
	margin-bottom: 3px;
}

.abilitiedesc
{
	display: flex;
	text-align: center; 
	border-color: red;
	align-content: center;
	margin: 0;
}

.abilitiea, .abilitieb, .abilitiec
{
	width: 250px;
}

/*TRABAJOS*/


/*COMENTARIOS ACERCA DE MI*/
