/*PARAMETROS GENERALES*/

body
{
	font-family: 'Vollkorn', serif;
	margin: 0;

}

h1
{
	font-size: 35px;
	margin-bottom: 0;
}

h4
{
	font-size: 14px;
	padding-top: 0;
	margin-left: 400px;

}

.pbackground
{
	background-image: url('../img/header.jpg');
	background-size: cover;
	margin: auto;
	height: 650px;

}

.menu 
{
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu a
{
	color: black;
	text-decoration: none;
}

.menu li
{
	display: inline-block;
	list-style: none;
	margin: 0 15px;
}

.fraseprincipal
{
	padding-top: 200px;
	padding-left: 750px;
	padding-bottom: 100px;
	padding-right: 50px;
	font-size: 15px;
	
}

/*QUIEN SOY*/

.whoiam
{
	padding: 50px 100px 20px 100px;
	font-size: 18px;
	text-align: justify;
}

/*.button 
{
  border-radius: 5px;
  border:solid 1px; 
  color: #0099cc;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  background: white;*/
}



/*PRUEBA DE BOTON*/
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 2px 10px;
  	margin: 20px 10px 10px 0px;
  	float: left;
	border-radius: 5px;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/*FIN DE PRUEBA DE BOTON*/

.bt1
{
	display: inline-block;
	position: absolute;
	right: 0;
	padding-right: 10px;display: inline-block;
	position: absolute;
	right: 85px;
}

/*HABILIDADES*/

.cita
{
	padding: 50px;	
	font-family: cursive;
	text-align: center;
	line-height: 15px;
}

.cita div
{
	padding: 10px;
}
.abilitiesbox, .worksbox
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; 

}

.abilitieitem
{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.abilitietittle
{
	margin-top: 3px;
	margin-bottom: 3px;
}

.abilitiedesc
{
	display: flex;
	text-align: center; 
	border-color: red;
	align-content: center;
	margin: 0;
}

.abilitiea, .abilitieb, .abilitiec
{
	width: 250px;
}

.abilites
{
	margin-top: 100px;
	padding: 50px 100px 20px 100px;
	background-color: #e5e5e5;
}


/*TRABAJOS*/


/*COMENTARIOS ACERCA DE MI*/
